node_modules
.env

# Hardhat files
/cache
/artifacts

# My other contracts and test files
/contracts_v
/test_v

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
